body {
    text-align: center;
    background-color: black;
}
h4 {
    color:white;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 30px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
    border-style: solid;
    border-color: red;
}

.jogador, .vencedor {
    font-size: 20px;
    margin-top: 5px;
    color:white;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background:red;
    cursor: pointer;
    color: white;
    border-radius: 20px;
}